gamesssss
<form action="/add" method="post" >
<h1>Make a new Game</h1>
<input type="text" placeholder="Title" name="name">
<input type="number" placeholder="Price" name="price">
<input type="submit" value="create">


</form>